/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Engagement&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&display=swap');

/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind base;
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind components;
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind utilities;

:root {
  --blue-rgb: 237 245 255;
  --green-rgb: 125 161 35;
}

body {
  font-family: 'Red Hat Display', sans-serif;
}

body:has(.card[data-color='blue']:hover) {
  background-color: rgb(var(--blue-rgb) / 25%);
}

body:has(.card[data-color='green']:hover) {
  background-color: rgb(var(--green-rgb) / 25%);
}

@layer utilities {
  .max-container {
    @apply max-w-4xl mx-auto sm:p-16 pb-12 !pt-[126px] px-8 min-h-[calc(100vh-80px)];
  }

  .head-text {
    @apply sm:text-5xl text-3xl font-semibold sm:leading-snug;
  }

  .subhead-text {
    @apply font-semibold sm:text-3xl text-xl relative;
  }

  .blue-gradient_text {
    @apply bg-gradient-to-r from-[#00c6ff] to-[#0072ff] bg-clip-text text-transparent;
  }

  .input {
    @apply bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-2.5 font-normal shadow-card;
  }

  .textarea {
    @apply block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-200 focus:ring-blue-500 focus:border-blue-500 mt-2.5 font-normal shadow-card;
  }

  .btn {
    @apply text-white bg-gradient-to-r from-[#00c6ff] to-[#0072ff] focus:ring-4 focus:outline-none focus:ring-blue-300 font-normal rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
  }

  .header {
    @apply flex flex-col justify-center items-center sm:px-16 px-8 py-4 max-w-5xl mx-auto absolute top-0 bg-transparent z-10 right-0 left-0;
  }

  .footer {
    @apply max-w-5xl mx-auto sm:px-16 pb-6 px-8 flex flex-col gap-7;
  }

  .footer-container {
    @apply flex flex-wrap gap-7 items-center justify-between;
  }

  .info-box {
    @apply mx-5 relative flex text-white flex-col gap-3 max-w-2xl neo-brutalism-blue pt-4 pb-12 px-8;
  }

  .neo-btn {
    @apply py-3 px-6 rounded-lg text-blue-500 text-center font-semibold sm:w-1/2 w-[90%] -bottom-5 absolute mx-auto right-0 left-0 flex justify-center items-center gap-3;
  }

  .cta {
    @apply w-full flex items-center md:flex-row flex-col sm:mt-16 mt-8 gap-7;
  }

  .cta-text {
    @apply text-black-500 font-extrabold flex-1 text-3xl max-md:text-center;
  }
}

.glassmorphism {
  background: rgba(8, 116, 239, 0.07);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo {
  border-radius: 8.889px;
  background: #fff;
  box-shadow: 0px 10px 35px -4px rgba(67, 83, 255, 0.15), 0px 1.5px 4px -1px rgba(67, 83, 255, 0.2);
}

.block-container {
  position: relative;
  transition: 250ms;
  perspective: 500px;
}

.block-container .btn-back {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: inherit;
  height: inherit;
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: bottom right;
  transform: rotateZ(15deg);
  will-change: transform;
  box-shadow: 16px 0 40px #e4e4e4;
}

.block-container .btn-back-red {
  background: linear-gradient(135deg, #ff4b1f -20%, #ff9068 120%);
}

.block-container .btn-back-green {
  background: linear-gradient(135deg, #adfda2 -20%, #11d3f3 120%);
}

.block-container .btn-back-yellow {
  background: linear-gradient(135deg, #f7971e -20%, #ffd200 120%);
}

.block-container .btn-back-blue {
  background: linear-gradient(135deg, #0061ff -20%, #60efff 120%);
}

.block-container .btn-back-orange {
  background: linear-gradient(135deg, #ff0f7b -20%, #f89b29 120%);
}

.block-container .btn-back-pink {
  background: linear-gradient(135deg, #e81cff -20%, #40c9ff 120%);
}

.block-container .btn-back-black {
  background: linear-gradient(135deg, #0a1647 -20%, #e4e7e4 120%);
}

.block-container .btn-front {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
  background-color: #ffffff33;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: top left;
  overflow: hidden;
}

.block-container:hover > .btn-back {
  transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
}

.block-container:hover > .btn-front {
  transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
}

/* GO DUTCH STYLES */

.go-dutch-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  /* justify-content: center; */
  /* width: 100%; */
  /* margin: 0 auto; */
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.feature-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 10px auto;
}

.section-container {
  display: flex;
  align-items: center;
}

.about-title {
  margin-top: 0;
  margin-bottom: 5px;
  margin-right: 10px;
  text-align: left;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 30px;
}

.about-text,
.feature-description-text {
  text-align: justify;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 18px;
  margin-top: 0;
}

.feature-description-text {
  text-align: center;
  margin-bottom: 0;
  color: black;
}

.text-logo {
  width: 70%;
  height: auto;
  margin-top: 40px;
}

.logo {
  width: 45px;
  height: auto;
}

.title {
  font-size: 20px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
}

.features-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

.location-features-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-and-info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(77, 65, 65, 0.1);
  margin: 20px;
}

.go-dutch-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.features-title {
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 25px;
}

.location-screens {
  width: 30%;
  height: auto;
  margin: 30px;
}

.screens {
  width: 45%;
  height: auto;
}

/* VIDEO PLAYER STYLES */
.video-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0 20px 0;
}

.video-player {
  border-radius: 10px;
}

/* ACTING PAGE STYLING */
.acting-head-text {
  font-size: 40px;
  font-weight: bold;
}
.insta-icon {
  width: 40px;
  height: 40px;
  margin-left: 5px;
}

.representative-name {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.representative-text {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.phone-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.email-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.representation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.representative {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.representative-logo {
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: contain;
}

.representative-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.video-reel-container {
  /* width: 100%; */
  margin: 120px 0 20px 0;
}

/* ACTING CREDIT STYLES */
.credit-title {
  font-size: 14px;
  font-weight: 700;
  width: 50%;
  text-align: left;
}

.role {
  font-size: 14px;
  width: 50%;
  text-align: left;
}
.production-company {
  font-size: 14px;
  width: 50%;
  text-align: left;
}

@keyframes flyInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fly-in-right {
  animation: flyInFromRight 0.5s ease-out forwards;
}

@media screen and (max-width: 768px) {
  .app {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header {
    width: 100%;
  }

  .text-logo {
    width: 70%;
    height: auto;
  }

  .about-title {
    font-size: 20px;
  }

  .title {
    font-size: 15px;
  }

  .about-text {
    font-size: 12px;
  }

  .go-dutch-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .location-features-container {
    width: 80%;
  }

  .features-container {
    width: 90%;
  }

  .features-title {
    font-size: 15px;
  }

  .logo {
    width: 30px;
    height: auto;
  }

  .feature-description-text {
    font-size: 12px;
    text-align: justify;
  }

  /* ACTING PAGE STYLING */
  .acting-head-text {
    font-size: 25px;
    font-weight: bold;
  }
  .insta-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }

  .phone-icon {
    width: 10px;
    height: 10px;
  }

  .email-icon {
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }

  .representation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .representative {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }

  .representative-logo {
    width: 100%;
    max-width: 100px;
    height: auto;
    object-fit: contain;
  }

  .representative-logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .credit-title {
    font-size: 10px;
    font-weight: 700;
    width: 50%;
    text-align: left;
  }

  .role {
    font-size: 10px;
    width: 50%;
    text-align: left;
  }
  .production-company {
    font-size: 10px;
    width: 50%;
    text-align: left;
  }

  .btn {
    font-size: 10px; /* Smaller text size on small screens */
    padding: 4px 5px; /* Smaller padding on small screens */
  }

  .video-reel-container {
    /* width: 100%; */
    margin: 120px 0 20px 0;
  }

  @keyframes flyInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .fly-in-right {
    animation: flyInFromRight 0.5s ease-out forwards;
  }
}

/* Neo Brutalism */
.neo-brutalism-blue {
  background: #2b77e7;
  position: relative;
  border-radius: 10px;
  border: #2b77e7;
  box-shadow: 0.6vmin 0.6vmin #336cc1, 1vmin 1vmin #0092db, 1vmin 1vmin #0092db, 0.65vmin 1vmin #0092db, 1vmin 0.65vmin #0092db;
}

.neo-brutalism-white {
  background: #fff;
  border: #fff;
  box-shadow: 0.6vmin 0.6vmin #fff, 1vmin 1vmin #d2e4ff, 1vmin 1vmin #d2e4ff, 0.65vmin 1vmin #d2e4ff, 1vmin 0.65vmin #d2e4ff;
}
